name: CI
on:
  push:
    branches:
      - main
jobs:
  export:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - "2014.1"
          - "2015.1"
          - "2015.2"
          - "2016.1"
          - "2016.2"
          - "2017.1"
          - "2017.2"
          - "2018.1"
          - "2019.4"
          - "2020.1"
          - "2020.2"
          - "2020.3"
          - "2020.4"
          - "2021.1"
          - "2021.2"
          - "2022.1"
          - "2022.2"
          - "2022.3"
          - "2023.1"
          - "2024.1"
          - "2024.2"
          - "2024.3"
          - "2025.1"
          - "2025.3"
    steps:
      - uses: actions/checkout@master
      - name: Export metadata
        uses: nick-invision/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 20
          retry_on: error
          command: make ${{ matrix.version }}
      - uses: actions/upload-artifact@v4
        with:
          path: metadata/${{ matrix.version }}/*.csv
          name: ${{ matrix.version }}
          if-no-files-found: error
          retention-days: 1
  jar:
    runs-on: ubuntu-latest
    needs:
      - export
    steps:
      - uses: actions/checkout@master
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - uses: actions/download-artifact@v4
        with:
          path: metadata
      - run: make combine
      - uses: actions/upload-artifact@v4
        with:
          path: metadata/*.csv
          name: metadata
          if-no-files-found: error
          retention-days: 1
      - name: build and deploy jar
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Bump version
        run: |
          git config --global user.name 'ProjectBot'
          git config --global user.email 'bot@users.noreply.github.com'
          VERSION=$(sed -n 's|.*<revision>\(.*\)</revision>.*|\1|p' pom.xml | cut -d- -f1)
          VERSION=`echo $VERSION | awk -F. '/[0-9]+\./{$NF++;print}' OFS=.`
          sed -i "s|<revision>\(.*\)</revision>|<revision>$VERSION</revision>|" pom.xml
          git add pom.xml
          git commit -m 'auto bump version'
          git push
